<footer class="footer", style="margin-top: auto">
    <div class="section contacts">
        <h3>Contacts</h3>
        <ul>
            <li>Inter shopping-center</li>
            <li>Email: email</li>
            <li>Phone: (380) 48 23 92, +38 (097) 44 12143, +38 (047) 29 41 124 </li>
            <li>Address: City/Street/Number</li>
        </ul>
    </div>
    <div class="section services">
        <h3>Services</h3>
        <ul>
            <li><a href="#" style="color: #ffffff;">Delivery</a></li>
            <li><a href="#" style="color: #ffffff;">Assembling</a></li>
            <li><a href="#" style="color: #ffffff;">Plumbing</a></li>
            <li><a href="#" style="color: #ffffff;">Windows</a></li>
        </ul>
    </div>
    <div class="section pages">
        <h3>Our pages</h3>
        <ul>
            <li><a href="#" style="color: #ffffff;">Facebook</a></li>
            <li><a href="#" style="color: #ffffff;">Instagram</a></li>
            <li><a href="#" style="color: #ffffff;">YouTube</a></li>
        </ul>
    </div>
    <div class="section company">
        <h3>Company</h3>
        <ul>
            <li><a href="#" style="color: #ffffff;">About us</a></li>
            <li><a href="#" style="color: #ffffff;">Loyalty program</a></li>
            <li><a href="#" style="color: #ffffff;">Career</a></li>
            <li><a href="#" style="color: #ffffff;">Sales</a></li>
        </ul>
    </div>
</footer>
